[submodule "src/validation"]
	path = src/validation
	url = git@gitlab.com:loucass003/type-validation.git
[submodule "src/src/types"]
	path = src/src/types
	url = git@gitlab.com:loucass003/matcha_types.git
